body {
  background-color: rgb(53, 53, 53);
}

#div1 {
  width: 700px;
  height: 600px;
  background-color: #0b2429;
}

#div2 {
  width: 150px;
  height: 150px;
  background-color: #f3ac3c;
  border-radius: 100%;
  position: absolute;
  top: 100px;
  left: 400px;
}

#div3 {
  width: 150px;
  height: 150px;
  background-color: #998235;
  border-radius: 50% 0 50% 50%;
  position: absolute;
  top: 180px;
  left: 320px;
}

#div4 {
  width: 150px;
  height: 150px;
  background-color: #f3ac3c;
  border-radius: 50% 0 50% 50%;
  position: absolute;
  top: 260px;
  left: 240px;
}
